* {
    background-color: #0e0d16;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
}

img {
    width: 125px;
    height: 150px;
    border-radius: 20%;
    border: 3px solid #5a596667;
}

.center {
    justify-items: center;
    text-align: center;
}

.Titulo {
    text-align: left;
    margin-left: 10px;
}

footer {
    text-align: bottom;
}
